# Database credentials. They do not have to be changed (but you can change the password if you want).
POSTGRES_HOST=db
POSTGRES_USER=supstar
POSTGRES_PASSWORD=dQw4w9WgXcQ
POSTGRES_DB=app

# JWT configuration, only the secret is mandatory.
# You can generate a new JWT secret using the command `openssl rand -hex 32` on Linux.
JWT_LIFESPAN=10m
JWT_SECRET=0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef

# Discord related variables.
# Create an application on the Discord Developer Portal to get a Client ID and Secret.
# The redirect URI should not be changed, unless the application is deployed to production with HTTPS and a domain name.
DISCORD_CLIENT_ID=0000000000000000000
DISCORD_CLIENT_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
DISCORD_REDIRECT_URI=http://localhost:8080/discord-callback